<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<h1>About LunaTicles</h1>
			</div>
			<div class="panel-body center">
        <p>All about Miss Luna</p>
      </div>
    </div>
  </div>
</div>