<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<h1>Secret login page</h1>
			</div>
			<div class="panel-body center">
        <p>
					<%= link_to new_user_registration_path, class: "btn btn-primary btn-lg" do %>
						<i class="fa fa-star-o"></i> Sign Up
					<% end %> or 
					<%= link_to new_user_session_path, class: "btn btn-default btn-lg" do %>
						<i class="fa fa-star"></i> Log In
					<% end %>
				</p>
      </div>
    </div>
  </div>
</div>